<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewsCentral</title>
    <p>Provide a file with domains to scrape. refer to <a href="/test.txt">testfile</a> for format.enter comma seperated URL for news portals</p>
    <form action="/" method="POST" enctype=multipart/form-data>
        <div>
            <input type="file" name="linksfile">
        </div>
        <br/>
        <div>
            <textarea name="links"
                  placeholder="https://timesofindia.indiatimes.com,https://in.reuters.com, https://in.finance.yahoo.com"></textarea>
        </div>
        <br/>
        <div>
            <input type="submit" name="submit"/>
        </div>

    </form>
</head>
<body>

</body>
</html>